@if (!isAdminLogado && !isFuncionarioLogado) {
  <div>
    <mat-toolbar class="nav-bar">
      <span >Gerenciador de Tarefas</span>
      <span class="espaco"></span>
      <button mat-button routerLink="/signup">Registre-se</button>
      <button mat-button routerLink="/login">Login</button>
    </mat-toolbar>
  </div>
}


@if (isAdminLogado) {
  <div>
    <mat-toolbar class="nav-bar">
      <span >Admin</span>
      <span class="espaco"></span>
      <button mat-button routerLink="/admin/dashboard">Dashboard</button>
      <button mat-button routerLink="admin/criar-tarefa">Criar Tarefa</button>
      <button mat-button  (click)="logout()" >Logout</button>
    </mat-toolbar>
  </div>
}

@if (isFuncionarioLogado) {
  <div>
    <mat-toolbar class="nav-bar">
      <span>Funcionario</span>
      <span class="espaco"></span>
      <button mat-button routerLink="/funcionario/dashboard">Dashboard</button>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  </div>
}

<router-outlet></router-outlet>